@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-dark-primary:#FFBF00;
    --color-dark-background:#0f0f0f;
    --color-dark-text:#E5E7EB;
    --color-dark-text-secondary:#9CA3AF;
    --color-dark-surface:#1E1E1E;
    --color-dark-accent:#333300;
    --color-dark-border:#2D2D2D;


    --color-primary:#FFD700;
    --color-background:#F9F9F9;
    --color-text:#111827;
    --color-text-secondary:#4B5563;
    --color-surface:#FFFFFF;
    --color-accent:#FFF3CD;
    --color-border:#E5E7EB;


    --font-heading:var(--font-heading);
    --font-body:var(--font-body);
}





/* Loader Style Start */
@keyframes pulse-slow {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
}

@keyframes ping-slow {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 2.5s infinite;
}

.animate-ping-slow {
  animation: ping-slow 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animate-glow {
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 5px #FFD700) drop-shadow(0 0 10px #FFA500);
  }
  to {
    filter: drop-shadow(0 0 20px #FFA500) drop-shadow(0 0 30px #FF4500);
  }
}

/* Loader Style End */