
@keyframes shake {
    0%{
        transform: translateY(0);
    } 50% {
        transform: translateY(-10px);
    } 100% {
        transform: translateY(0px);
    }
}


@keyframes shake-effect {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-5px); }
  40%, 80% { transform: translateX(5px); }
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px rgba(17, 24, 39, 0.3) inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
  background-color: transparent !important;
  color: white !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
